extends layout

block content
	h3 Internal error

	if (message && config.renderPugError)
		hr
		pre
			code.json.bg-light !{message}
	else
		p Unknown error
		p Please report the problem on 
			a(href="https://gitlab.com/nexa/explorer/issues") nexa explorer issues page.

	if (error && config.renderPugError)
		hr
		h3 #{error.status}
		pre
			code.json.bg-light #{error.stack}
